$icon-font-path: '../fonts/';
$muricablue: #0052A5;
$muricared: #E0162B;

// responsive size
$break-small: 320px;
$break-large: 768px;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "questions";

@import 'https://fonts.googleapis.com/css?family=Oswald|PT+Sans+Narrow';

.browserupgrade {
  margin: 0.2em 0;
  background: #fff;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-top: 10px;
    padding-bottom: 19px;
    color: $muricablue;
    text-align: left;
    font-size: 3em;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;

    @media (min-width: $break-small) and (max-width: $break-large) {
      font-size: 2em;
      text-align: center;
    }
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: $muricablue;
  border-top: 1px solid #e5e5e5;
  text-align: center;

  a {
    color: $muricablue;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #fff;
  background-color: #fff;
  padding-top:1em;
  padding-bottom:1em;

  p {
    font-size: 18px;
  }

  #clockdiv {
    font-size:6em;
    color:$muricared;

    @media (min-width: $break-small) and (max-width: $break-large) {
      font-size: 4em;
    }
  }
}

.intro {
  @media (min-width: $break-small) and (max-width: $break-large) {
    font-size: 12px;
    margin: 0 auto;
    max-width: 300px;
    text-align: center;
  }
}

.vote-btn {
  text-align: center;
  padding: 1em;

  a {
    font-size: 22px;
  }

  .btn-success{
    border-color:(#4d4d4d);
    background-color: #fff;
    color: #4d4d4d;
  }

  .btn-success:hover{
    color: $muricared;
    img{
      filter: invert(100%);
    }
    border-color:($muricared);
  }

}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

.odometer.odometer-animating-up .odometer-ribbon-inner, .odometer.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
    -webkit-transition-duration: 1s !important;
    -moz-transition-duration: 1s !important;
    -ms-transition-duration: 1s !important;
    -o-transition-duration: 1s !important;
    transition-duration: 1s !important
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: $break-large) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;

    .timer {
      font-size: 16px;
    }
  }
}
